# local script files
edit.sh
usage.sh

# tag files
tags

# documentation
docs

# test related
test
coverage

# development assist files
Makefile
arkit.*
.*.json
.cache
.ignore
.gitmodules

# unneeded core-related files
core/dist
core/*.yml
core/package-lock.json
.parcel-cache/
.travis.yml
.coveralls.yml
